*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
/* css vairable */
:root{
    --navbar-hieght:59px;
}
/* nvabar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    
    
}
/* Navigation bar: logo nad image */
.logo{ margin: 10px;
    padding: 15px;

}
.logo img{
    
    width: 121px;
    height: 121px;
    margin: 6px 6px;
    border-radius: 100%;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    border-radius: 20px;
    border: 1px solid red;
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 200px;
    height: 399px;
}
#home::before{
    content: "";
    background:url(../images/background.jpg) no-repeat center center/cover;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    left: 0;
    top: 0;
}
.center{
    text-align: center;
}
.h-primary{
    font-size: 2.5rem;
    padding: 13px;
}.h-secondary{
    font-size: 2.2rem;
    padding: 13px;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
}
.btn{
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid red;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 15px;
    margin: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: green;
    color: white;
}
.services-container{
background-color: rgb(241, 234, 234);}
/*services section*/
#services{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
#services .box{
    border: 1px solid brown;
    color: white;
    margin: 5px 10px;
    padding: 12px;
    border-radius: 35px;
    height: 386px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(8, 0, 0) ;
}
#services .box img{
    height: 230px;
    width: 230px;
    border-radius: 100%;
}
/* Clients section */
#clients-section{
    height: 240px;
    margin: 2px;
}
#clients-section::before{
    content: "";
    position: absolute;
    background: url('/images/bg.jpeg') no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height: 225px;
    opacity: 0.6;
}
#clinets{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clinets .client-item{
    margin: 5px 35px;
    height: 110px;
}
#clinets .client-item img{
    height: 100px;
    width: 100px;
    border-radius: 24px;
}
/* Contact-section */
#contact{
position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
background: url('/images/contact.jpg') no-repeat center  center/cover;
opacity: .5;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 100%;
}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1rem;
}
footer{
    background: #000;
    color: white;
    padding: 7px 12px;
}
.btn2{
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid rgb(8, 158, 33);
    font-family: 'Baloo Bhaijaan 2', cursive;
    cursor: pointer;
    margin: 2px 8px;
    color: white;
    background-color:rgb(8, 158, 33);
}
.btn2:hover{
    background-color: white;
    border: 1px solid red;
    color: black;
}